header {
  background-color: var(--whites-color);
  color: var(--black-color-05);
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;

  & h2 {
    font-size: clamp(25px, 2em, 3vw);
    display: flex;
    align-items: center;
  }
}
nav {
  background-color: var(--white-color);
  & ul {
    width: 100%;
    margin: 0;
    display: flex;
    background-color: var(--white-color);
    padding: 0;
    list-style: none;

    & li {
      padding: 10px 2em;
      cursor: pointer;
      text-align: center;
      width: auto;
      transition: 0.3s;
      &:hover {
        background-color: var(--primary-color-blue-01);
      }
    }
  }
}
.cartIcon {
  position: relative;
}
.cart-icon-header {
  color: var(--primary-color-blue-04);
  font-weight: bold;
  font-size: 1.4em;
}
.counter-items-cart {
  color: rgb(255, 0, 0);
  padding: 5px 10px;
  border-radius: 9px;
  font-size: 1.5em;
  font-weight: 900;
  position: absolute;
}
.link {
  color: var(--black-color-05);
  text-decoration: none;
}
.user-cart {
  display: flex;
  padding: 1em;

  gap: 3em;
}
.menu-icons {
  cursor: pointer;
  font-size: 2em;
  transition: ease-in-out 0.2s;
  &:hover {
    color: var(--primary-color-blue-01);
    transform: scale(1.1);
  }
}

@media (width < 780px) {
  nav ul {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
}
/* MENU DESPEGABLEEEE_____________------------------------------- */

.dropdown-menu {
  height: 300px;
  font-size: 0.7em;
  display: none;
  position: absolute;
  background-color: var(--primary-color-blue-04);
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
  border-radius: 5px;
  transition: 0.8s ease;

  & li {
    border-radius: 5px;
  }
  & li:hover {
    background: var(--primary-color-blue-05);
  }
}

.dropdown-item .link {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Mostrar el menú desplegable al pasar el mouse */
.dropdown-menu-on {
  display: block;
}
